
.image {
    position: absolute;
    width: 100%;
    height: 20%;
  
 }
 .shadow-lg {
    width: 80%;
    height: 500px;
 }
 .title {
    position: relative;
    color: black;
    top: 10%;
 }
 /*FORMULAIRE DE CONTACT*/
.contact {
    padding: 100px 100px;
    flex-direction: column;
}
.contact form {
    display: flex;   
}
.contact form input {
    width: 90%;
}

.btn {
    position: relative;
    margin-top: 30%;
    margin-left: -25%;
}


 /*FOOTER*/
#fin {
   display: flex;
   position: absolute;
   justify-content: space-between;
   margin-top: -4%;
   margin-left: -14%;
   padding: 90px;
   background: #232628;
   width: 125%;
  


}

.clubauto p {
    position: relative;
    font-size: small;
}
.clubauto span {
    color: #6C98E1;
}
#fin p{
    color: #ECEFF3;
}
#fin h5 {
    color: white;
}
.copyright {
    margin-left: -30%;
    position: relative;
    margin-top: 25%;
}
.copyright p {
   position: relative;
   left: -300px;
   
}







